.form-container {
    width: 100%;
}
.form {
    gap: 1em;
    padding: 2em;
    width: 30%;
    margin: 2em auto;
    background-color: #729cd6;
    border-radius: .5em;
    box-shadow: 0 2px 6px 6px rgba(255, 255, 255, 0.3);
}
.name, .email, .phone, .age, .checkbox, .salary {
    justify-content: space-between;
    gap: .5em;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}
input, select {
    padding: .5em;
    border-radius: .5em;
    border: .1em solid #0f1620;
    font-size: 1em;
}
.btn {
    color: #fff;
    background: #0f1620;
    border: none;
    padding: .8em 1.2em;
    font-size: 1em;
    font-weight: bold;
    border-radius: .5em;
    cursor: pointer;
}
.btn:hover {
    background: #1a1f2a;
    transition: background 0.3s ease;
}
.model {
    position: absolute;
    width: 50vw;
    height: 100vh;
    background-color: #0f162078;
}
.model-content {
    width: 60%;
    background-color: #fff;
    color: #729cd6;
    padding: 1em;
    border-radius: 1em;
}